
	/*
	https://autoprefixer.github.io/
	*/


/*
  I       I
  I       I
  I       I
  IIIIIIIII
  I       I
  I       I
  I       I
  I       I
*/  

header > h2 {
	color : #0065fc;
	justify-content: left;
}

menu {
	justify-content: right;
	float : left;
}

menu > a {
	color: black;
	/* position: absolute; */
	top: 0%;
	bottom: 0%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

menu > a:hover {
	color: #0065fc;
	font-weight: 500;
}

#hotelLink {
	left: 36.22%;
	right: 34.12%;
}

#activityLink {
	left: 83.46%;
	right: 0%;
}

.Nav {
	justify-content: right;
}
/*
  IIII
  I   I
  I   I
  I   I
  IIII
  I   I
  I   I
  I   I
  IIII
*/  

body {
	background-color: white;
	/*inline-size : 992px;*/
	margin : 0 auto;
}

	/*
section {
	margin-top : 20px;
	margin-bottom : 10px;
}*/

h1 {
	/* position: absolute; */
	width: 575px;
	height: 26px;
	left: 55px;
	top: 126px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;

	color: #000000;
}

h2 {
	font-weight: bold;
}


.Search > i {
	/* position: absolute; */
	left: 0%;
	right: 84.94%;
	top: 0%;
	bottom: 0%;

	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 15px 0px 0px 15px;
}
input {
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #FFFFFF;

	border: 1px solid #F2F2F2;
	border-radius: 15px;
}
button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 16px;
	gap: 10px;

	/* position: absolute; */
	width: 132px;
	height: 49px;
	left: 341px;
	top: 200px;
	background: #0065FC;

	border: 1px solid #0065FC;
	border-radius: 0px 15px 15px 0px;
}

.filters {
	display: block;
}
#ecoFilter {
	display: none;
	width : 226px;
	height : 50px;
	border-radius : 25px;

	background-color: #DEEBFF;
	border : 2px solid;
	border-color: #D9D9D9;

	box-sizing: border-box;

	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
  }
  
  #ecoFilter:checked + label {
	background-color: #2369eb80;
	color: #fff;
  }

  #familyFilter {
	display: none;
	width : 226px;
	height : 50px;
	border-radius : 25px;

	background-color: #DEEBFF;
	border : 2px solid;
	border-color: #D9D9D9;

	box-sizing: border-box;

	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
  }
  
  #familyFilter:checked + label {
	background-color: #2369eb80;
	color: #fff;
  }

  #coupleFilter {
	display: none;
	width : 226px;
	height : 50px;
	border-radius : 25px;

	background-color: #DEEBFF;
	border : 2px solid;
	border-color: #D9D9D9;

	box-sizing: border-box;

	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
  }
  
  #coupleFilter:checked + label {
	background-color: #2369eb80;
	color: #fff;
  }

  #petFilter {
	display: none;
	width : 226px;
	height : 50px;
	border-radius : 25px;

	background-color: #DEEBFF;
	border : 2px solid;
	border-color: #D9D9D9;

	box-sizing: border-box;

	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
  }
  
  #petFilter:checked + label {
	background-color: #2369eb80;
	color: #fff;
  }



  label {
	padding: 20px;
	font-size: 25px;
	border: 2px solid rgb(91, 94, 95);
	border-radius: 30px;
	color: #000;
	cursor: pointer;
	transition: .3s;
  }
  label:hover {
	box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	color : rgb(64, 0, 128);
  }
 

/*
     IIII
   III   
  III   
  I   
  I
  I   
  II      
   III    
     IIIII
*/ 



.housings {
	background-color: #F2F2F2;
	border-radius: 20px;
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.popular {
	background-color: #F2F2F2;
	border-radius: 20px;
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

.activities {
	background-color: #F2F2F2;
	border-radius: 20px;
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
} 


.Card {
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border-radius: 20px;
}

.imageCard {
	/* position: absolute; */
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border-radius: 20px 20px 0px 0px;
}

.descriptionCard {	
	/* position: absolute; */
	height: 56px;
	left: 0%;
	right: 0%;
	bottom: -0.49px;
	background: #FFFFFF;
	border-radius: 0px 0px 20px 20px;
}


.flex-container {
	display: flex;
	flex-wrap: nowrap;
	background-color: #F2F2F2;
	border-radius: 20px;
  }
  
.flex-container > div {
	background-color: #F2F2F2;
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 14px;
}

 
/*
  IIIIIIIIIIIII
  I
  I
  IIIIIIIII
  I
  I
  I
  I
*/  

footer {
	/* position: absolute; */
	left: 3.33%;
	right: 3.68%;
	/*top: 0%;*/
	bottom: 10.84%;
	background: #F2F2F2;
	max-height : 10%;
}

footer > div {
	margin-right: 20px;
}

footer > h2 {
	/* position: absolute; */
	left: 8.19%;
	right: 86.46%;
	top: 23.56%;
	bottom: 65.45%;
	margin : 5px;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	
	color: #000000;
}

#about1 {
	/* position: absolute; */
	left: 8.19%;
	right: 86.46%;
	top: 23.56%;
	bottom: 65.45%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

#about2 {
	/* position: absolute; */
	left: 8.19%;
	right: 79.58%;
	top: 45.03%;
	bottom: 45.03%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#about3 {
	/* position: absolute; */
	left: 8.19%;
	right: 80.9%;
	top: 61.26%;
	bottom: 28.8%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#about4 {
	/* position: absolute; */
	left: 8.19%;
	right: 78.33%;
	top: 77.49%;
	bottom: 12.57%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#info1 {
	/* position: absolute; */
	left: 37.64%;
	right: 50.9%;
	top: 23.56%;
	bottom: 65.45%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

#info2 {
	/* position: absolute; */
	left: 37.64%;
	right: 55.14%;
	top: 45.03%;
	bottom: 45.03%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#info3 {
	/* position: absolute; */
	left: 37.64%;
	right: 51.94%;
	top: 61.26%;
	bottom: 28.8%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#support1 {
	/* position: absolute; */
	left: 65.69%;
	right: 27.85%;
	top: 23.56%;
	bottom: 65.45%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

#support2 {
	/* position: absolute; */
	left: 65.69%;
	right: 27.5%;
	top: 45.03%;
	bottom: 45.03%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

#support3 {
	/* position: absolute; */
	left: 65.69%;
	right: 26.39%;
	top: 61.26%;
	bottom: 28.8%;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
