
	/*
	https://autoprefixer.github.io/
	*/

/* 
=========================
          FONTS
=========================

Titre: Arial Bold 50px
sous-titre: Arial Bold 25px
texte: Arial 15px

*/
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 50 version
*/


@font-face {
	font-family: 'Raleway-bold';
	src: url('../fonts/Raleway-Bold.ttf');
	font-display: swap;
  }  

  @font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.ttf');
	font-display: swap;
}
/*
______________________________________________________________________
								COLORS
______________________________________________________________________
 bleu : #0065fc
 bleu clair : #DEEBFF
 gris : #D9D9D9
*/

/*
  I       I
  I       I
  I       I
  IIIIIIIII
  I       I
  I       I
  I       I
  I       I
*/  

header {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 50px;
	padding : 20px 20px 0 20px;
}

header .logo {
	width: 50px;
}

header > h2 {
	color : #0065fc;
}

header menu {
	list-style: none;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	-webkit-align-self : center;
	    -ms-flex-item-align : center;
	            -ms-grid-row-align : center;
	        align-self : center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width : 250px;
}

header menu li {
	margin : 3px 10px 0;
	width : 50%;
	text-align: center;
	display: inline-block;
}

header menu li a {
	color: black;
	text-decoration: none;
	width : 100%;
	padding: 20px 24.5px 0;
}

header menu li a:hover {
	border-top : 3px solid #0065FC;
	color: #0065fc;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
@media screen and (max-width: 768px) {
	header {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px 0 0;
  }

  header .logo {
	width: 70px;
	margin-bottom: 10px;
  }

  header .Nav {
	width: 100%;
  }
  header menu {width: 100%;}
  header menu li {
	margin: 0;
	width: 50%;
  }

  header menu li a {
	width: 100%;
	display: inline-block;
	border-bottom: 3px solid #DEEBFF;
	text-align: center;
	padding: 20px 0;
  }

  header menu li a:hover {
	border-top: none;
	border-bottom: 3px solid #0065FC;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
  }
}
/*
  IIII
  I   I
  I   I
  I   I
  IIII
  I   I
  I   I
  I   I
  IIII
*/  

body {
	background-color: white;
	font-family : sans-serif;
	font-size : 15px;
	margin : 0 auto;
	width : 100%;
	max-width : 1400px;
}

h1 {
	font-family: 'Raleway-bold', sans-serif;
	font-style: normal;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	padding-bottom : 5px;
}

h2 {
	font-family : "Raleway-bold";
	color : black;
}

a {
	text-decoration: none;
	color: #000;
}
.title {
	color : #D9D9D9;
	padding : 20px 20px 0 20px;
}
.Search {
	padding : 20px 20px 5px 20px;
	display: inline-block;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-height: 35%;
	width : 100%;
}

.Search span {
	font-family: "Raleway";
	color : black;
	padding-right: 10px;
}
.Search .SearchButton {
	font-family: "Raleway-bold";
	color : white;
	padding-right: 10px;
}

.infoSearch {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.infoLogoContainer {
	width : 24px;
	height: 24px;
	border: 1px solid #D9D9D9;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin-right : 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.infoLogoContainer i {
	font-size: 10px;
	color : #0065FC;
}

.starRating i {
	color : #0065fc;
}
form {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin : 20px 0;
}

form .locationIcon {
	background : #F2F2F2;
	-webkit-border-radius: 15px 0px 0px 15px;
	        border-radius: 15px 0px 0px 15px;
	height : 42px;
	width : 42px;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	-webkit-flex-direction : column;
	    -ms-flex-direction : column;
	        flex-direction : column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin : 0;
	padding : 0;
	color : #000;
	border: none;
    cursor: default;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

form .locationIcon:hover {
	-webkit-box-shadow: none;
	        box-shadow: none;
	color : #000;
}

form button {
	height : 42px;
	-webkit-border-radius: 0px 15px 15px 0px;
	        border-radius: 0px 15px 15px 0px;
	background: #0065FC;
	border: none;
	color : #F2F2F2;
	cursor : pointer;
	padding : 0 25px;
}

form button .search_icon {display : none;}

form input {
	height : 42px;
	width : 40%;
	max-width : 300px;
	border: 1px solid #F2F2F2;
	padding : 0 10px;
	font-family: "Raleway-bold";
}

button {
	max-width: 75%;
	padding : 2%;
	font-family: 'Raleway';
}

.filters {padding : 20px 0;}

.filterTitle {
	display: inline-block;
	font-weight: bold; 
}

.filterButton {display : inline-block;}

i {color : #0065fc;}

#ecoFilter, #familyFilter, #coupleFilter, #petFilter {display: none;}
  
  #ecoFilter:checked + label,
   #familyFilter:checked + label,
    #coupleFilter:checked + label,
	 #petFilter:checked + label {
	background-color: #DEEBFF;
  }


  label {
	padding: 10px;
	margin : 5px 2px;
	border: 2px solid #D9D9D9;
	-webkit-border-radius: 50px;
	        border-radius: 50px;
	color: #000;
	cursor: pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	text-align: center;
	display: inline-block;
	font-family: "Raleway-bold";
  }
  label:hover {
	-webkit-box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	        box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	color : rgb(64, 0, 128);
	background-color: #DEEBFF;
  }
 
  @media screen and (max-width: 768px) {
	form button {
		padding: 0 15px;
	  }
	  form button span {
		display: none;
	  }
	  form button .search_icon {
		display: block;
	  }
	  form button > i {color : white;}
  }

/*
     IIII
   III   
  III   
  I   
  I
  I   
  II      
   III    
     IIIII
*/ 

.Hotels {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	        justify-content: space-between;
	width : 100%;
}

.housings {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: space-between;
	-webkit-justify-content: space-between;
	    -ms-flex-align: space-between;
	        justify-content: space-between;
	background-color: #F2F2F2;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	padding : 20px 20px 0 20px;
	margin: 1% 0;
	width : 75%;
	flex-wrap: wrap;
}
.Hotels > .housings > h2 {
	margin-top : 2%;
	margin-left: 2%;
}

.Hotels > .housings > a {
	margin : 3% 2%;
}

.popular {
	background-color: #F2F2F2;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	padding : 20px 20px 0 20px;
	margin-right: 0;
	margin-top: 1%;
	margin-bottom: 1%;
}
.popularStar {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : justify;
	-webkit-justify-content : space-between;
	    -ms-flex-pack : justify;
	        justify-content : space-between;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	color : black;
	margin : 3% 2%;
}

.PopularFlex {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	-webkit-flex-direction : column;
	    -ms-flex-direction : column;
	        flex-direction : column;
	        justify-content : space-between;
			flex-wrap: wrap;
  }
  
.activities {
	margin-top: 50px;
	margin-bottom : 75px;
} 
.activities > h2 {margin-left: 1%;}
#Hotel {
	-webkit-justify-content: space-between;
	    -ms-flex-pack: distribute;
	        justify-content: space-between;
	flex-wrap: wrap;
}

.Card {
	display: block;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	overflow: hidden;
	width : 25%;
	min-width : 100px;
	padding : 5px 5px 0;
	background-color: white;
	margin : 10px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor : pointer;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
}

.Card:hover {
	-webkit-box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	        box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
}
#Activity {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#Activity .Card {
	width : 23%;
	min-width : 170px;
	padding : 0;
}
#Activity .Card:first-child {margin-left: 0;}
#A5 {margin-right: 0;}
#Activity .Card .imageCard {height :400px;}

.imageCard {
	background-size: cover;
	background-position: center;
	min-width: 100px;
	min-height: 100px;
	overflow : hidden;
	-webkit-border-top-left-radius: 20px;
	        border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	        border-top-right-radius: 20px;
}

#image1 {background-image :url("../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");}

#image2 {background-image :url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");}

#image3 {background-image :url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");}

#image4 {background-image :url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");}

#image5 {background-image :url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");}

#image6 {background-image :url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");}

#image7 {background-image :url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");}

#image8 {background-image :url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");}

#image9 {background-image :url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");}

#image10 {background-image :url("../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");}

#image11 {background-image :url("../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");}

#image12 {background-image :url("../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");}

#image13 {background-image :url("../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");}

#image14 {background-image :url("../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");}

#image15 {background-image :url("../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");}


.descriptionCard {	
	-webkit-box-pack: left;	
	-webkit-justify-content: left;	
	    -ms-flex-pack: left;	
	        justify-content: left;
	background-color: #FFFFFF;
	padding : 10px;
	width : auto;
	line-height: 20px;
}

.CardPopular {
	padding: 5px;
	border-radius: 20px;
	overflow: hidden;
	background-color: white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	height: 144px;
	margin-bottom: 10px;
}

.CardPopular:hover {
	-webkit-box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	        box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.493);
	cursor : pointer;
  }
  
  .imageCardPopular {
	-webkit-border-top-left-radius: 20px;
	border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-size: cover;
	background-position: center;
	width: 35%;
	height: 100%;
	display: inline-block;
  }
  
  .descriptionCardPopular {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height : 100%;
}  
.descriptionCardPopularContainer {
	display : inline-block;
	width : calc(65% - 5px);
	vertical-align: top;
	height : 100%;
	padding : 5px;
 }
.prix {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	-webkit-box-align: left;
	-webkit-align-items: left;
	    -ms-flex-align: left;
	        align-items: left;
	padding-top: 2px;
	padding-bottom: 2px;
}
.unitePrix {
	color : black;
	font-weight : bold;
}

.starRating {
	display:inline-flex;
	flex-direction: row;
}

.CardPopular .starRating {
	display:inline-flex;
	flex-direction: row;
	
}
.flex-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-direction: row;
}

#Hplus {
	font-family: 'Raleway-bold';
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	body {
		width : 95%;
	}
	.Hotels {
		display : -webkit-box;
		display : -webkit-flex;
		display : -ms-flexbox;
		display : flex;
		-webkit-box-orient : vertical;
		-webkit-box-direction : normal;
		-webkit-flex-direction : column;
		-ms-flex-direction : column;
		flex-direction : column;
		padding : 0 0 70px 0;
	}
	.housings {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: space-between;
		-webkit-justify-content: space-between;
		-ms-flex-align: space-between;
		justify-content: space-between;
		width : 100%;
		margin-bottom : 53px;
	}
	#Hotel {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.housings #Hotel .Card {
		height : 30%;
		width : 30%;
	}
	
	.PopularFlex {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			margin-bottom : 3%;
			justify-content: space-between;
		}
		.CardPopular {width: 30%;}

	.descriptionCard h2, .descriptionCardPopular h2, .prix {
			font-size: 80%;
			
		}
		
		.activities #Activity {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content : space-between;
		-ms-justify-content : space-between;
		justify-content : space-between;
		align-items: center;
	}
	.activities #Activity .Card {
		width : 20%;
		margin : 3% 0;
		height : 260px;
	}
	#Activity .Card .imageCard {
		height : 200px;
	}
}

@media screen and (max-width: 768px) {
	.Hotels {
		display : -webkit-box;
		display : -webkit-flex;
		display : -ms-flexbox;
		display : flex;
		-webkit-box-orient : vertical;
		-webkit-box-direction : reverse;
		-webkit-flex-direction : column-reverse;
		    -ms-flex-direction : column-reverse;
		        flex-direction : column-reverse;
	}
	.PopularFlex {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.housings {
		margin : 1% auto;
		width : 100%;
		background: none;
	}
	.housings .Card {
		margin : 1% auto;
		width : 100%;
	}
	.popular {border-radius: 0;}
	.activities > h2 {
		margin-top : 100px;
		margin-left: 5%;
	}
	#Activity {
		width : 90%;
		margin: 0 5%;
	}
	#Activity .Card {
		width : 100%;
		height : 190px;
		min-height : none;
	}
	#Activity .Card:first-child {margin-left: 1%;}
	#Activity .Card:last-child {margin-right: 1%;}
	#Activity .Card .imageCard {height : 134px;}
}

 
/*
  IIIIIIIIIIIII
  I
  I
  IIIIIIIII
  I
  I
  I
  I
*/  

footer {
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	    -ms-flex-pack: left;
	        justify-content: space-between;
	-webkit-box-orient : horizontal;
	-webkit-box-direction : normal;
	-webkit-flex-direction : row;
	    -ms-flex-direction : row;
	        flex-direction : row;
	-webkit-box-align: left;
	-webkit-align-items: left;
	    -ms-flex-align: left;
	        align-items: left;
	-webkit-flex-wrap : wrap;
	    -ms-flex-wrap : wrap;
	        flex-wrap : wrap;
	background: #F2F2F2;
	max-height : 5%;
	padding : 20px 20px 0 20px;
	line-height : 30px;
	padding : 40px;
}

footer > div {
	display : block;
	color: black;
	width : auto;
}

footer > h2 {
	margin : 5px;
	font-family: 'Raleway-bold';
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 10px;
}
footer ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-right: 200px;
	margin-bottom : 50px;
}

footer > div > li {
	display : inline-block;
}

footer > div > li > a {
	font-family: 'Raleway';
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: black;
}
@media screen and (max-width: 768px) {
	footer {
		display : -webkit-box;
		display : -webkit-flex;
		display : -ms-flexbox;
		display : flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	footer div {
		width : 100%;
	}
	footer div ul {
		margin : 1% auto;
	}
}